<p>Edit Run</p>
<div>
  <a href="#home">Back</a>
  <p>Run info: {{editRun.thisRun[0]}}</p>
  <p>Date:</p>
  <div layout-gt-xs="row">
  <div flex-gt-xs>
    <h4>Standard date-picker</h4>
    <md-datepicker ng-model="updateRun.date" md-placeholder="Enter date"></md-datepicker>
  </div>
  </div>
  <p>Distance:</p>
  <select ng-model="updatedRun.distance.miles" ng-options="mile for mile in editRun.dropdownMiles.miles">
  </select>
  <select ng-model="updatedRun.distance.partialMiles" ng-options="partial for partial in editRun.dropdownMiles.partialMiles">
  </select>

  <p>Time:</p>
  <select ng-model="updatedRun.time.hours" ng-options="hour for hour in editRun.dropdownTime.hours">
  </select>
  <select ng-model="updatedRun.time.minutes" ng-options="minute for minute in editRun.dropdownTime.minutes">
  </select>
  <select ng-model="updatedRun.time.seconds" ng-options="second for second in editRun.dropdownTime.seconds">
  </select>

  <!-- <input type="text" ng-model="updatedRun.date" ng-value="{{editRun.thisRun[0].date}}">
  <input type="text" ng-model="updatedRun.distance" ng-value="{{editRun.thisRun[0].distance}}">
  <input type="text" ng-model="updatedRun.time" ng-value="{{editRun.thisRun[0].time}}"> -->
  <button ng-click="editRun.editRun(updatedRun); editRun.runSubmit()">Submit</button>
</div>
