<p>Edit Run</p>
<div>
  <a href="#home">Back</a>
  <p>Run info: {{editRun.thisRun[0]}}</p>
  <p>Date: {{editRun.thisRun[0].date}}</p>

  <div layout-gt-xs="row">
  <div flex-gt-xs>
    <md-datepicker ng-model="updateRun.date" md-placeholder="{{editRun.thisRun[0].date}}"></md-datepicker>
  </div>
  </div>
  <md-input-container style="margin-right: 10px;">
        <label>Distance</label>
        <md-select ng-model="updatedRun.distance.miles">
          <md-option ng-repeat="mile in editRun.dropdownMiles.miles" value="{{mile}}">{{mile}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>.00</label>
        <md-select ng-model="updatedRun.distance.partialMiles">
          <md-option ng-repeat="partial in editRun.dropdownMiles.partialMiles" value="partial">{{partial}}</md-option>
        </md-select>
    </md-input-container>
<br>
  <md-input-container style="margin-right: 10px;">
    <label>Hours</label>
      <md-select ng-model="updatedRun.time.hours">
        <md-option ng-repeat="hour in editRun.dropdownTime.hours" value="{{hour}}">{{hour}}</md-option>
      </md-select>
  </md-input-container>
  <md-input-container>
    <label>Minutes</label>
  <md-select ng-model="updatedRun.time.minutes">
    <md-option ng-repeat="minute in editRun.dropdownTime.minutes" value="{{minute}}">{{minute}}</md-option>
  </md-select>
</md-input-container>
<md-input-container>
  <label>Seconds</label>
<md-select ng-model="updatedRun.time.seconds">
  <md-option ng-repeat="second in editRun.dropdownTime.seconds" value="{{second}}">{{second}}</md-option>
</md-select>
</md-input-container>
  <button ng-click="editRun.editRun(updatedRun); editRun.runSubmit()">Submit</button>
</div>
