<p>Run History</p>
<div>
  <h1 id="welcome" class="lead">Welcome, {{showRun.user.userName}}!</h1>
  <button class="btn-default" ng-click="showRun.enterView()">Enter Run</a>
  <button class="btn btn-default" ng-click="showRun.logout()">Log Out</button>
  <md-select ng-model="showRun.user">
    <label>Run History</label>
    <md-option ng-repeat="run in showRun.user.runArray | unique" value="{{run}}">{{run}}
    </md-option>
  </md-select>
  <p>{{showRun.user.currentDateRange}}</p>
  <div ng-repeat="run in showRun.user.runArray | orderBy:'showRun.user.date.date'">
    <div ng-if="run.date.weekOfYear === showRun.user.currentWeek">
    <div ng-click="showRun.saveRun(run);">
    <p>Date: {{run.date.date}} Distance: {{run.distance}}</p>
  </div>
  </div>
</div>
  <h2>Summery</h2>
    <p>Week: {{showRun.user.summery.weekSum}}</p>
    <p>Month: {{showRun.user.summery.monthSum}}</p>
    <p>Year: {{showRun.user.summery.yearSum}}</p>
</div>
