<p>Run History</p>
<div>
  <!-- ng-change="run.currentDateRange" -->
  <h1 id="welcome" class="lead">Welcome, {{showRun.user.userName}}!</h1>
  <button class="btn-default" ng-click="showRun.enterView()">Enter Run</a>
  <button class="btn btn-default" ng-click="showRun.logout()">Log Out</button>
  <md-select ng-model="showRun.user.currentDateRange"  aria-label="run history">
    <label>Run History</label>
    <md-option ng-repeat="run in showRun.user.runArray | unique" value="{{run}}">{{run}}
    </md-option>
  </md-select>
  <div ng-repeat="run in showRun.user.runArray">
    <div ng-if="run.date.dateRange === showRun.user.currentDateRange">
    <div ng-click="showRun.saveRun(run);">
    <p>Date: {{run.date.date}} Distance: {{run.distance}}</p>
  </div>
  </div>
</div>
  <div ng-model="showRun.user.currentDateRange" ng-change="showRun.user.populateSummery(showRun.user.runArray)">
  <h2>Summery</h2>
    <p>Week: {{showRun.user.summery[0].weekSum}}</p>
    <p>Month: {{showRun.user.summery[0].monthSum}}</p>
    <p>Year: {{showRun.user.summery[0].yearSum}}</p>
  </div>  
</div>
