body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.card {
  padding : 1em;
}
h1 {
  color : black;
  text-align: center;
}

header {
  margin-bottom : 1em;
  width: 100%;
}

#addButton {
   display: block;
   margin: auto;
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   fill: currentColor;
   height: 24px;
   width: 24px;
   min-height: 24px;
   min-width: 24px;
}

.run-date {
  border-right-width: 1px;
  border-right-color: lightgrey;
  border-right-style: solid;
  margin-right: 1em;
  padding-right: 1em;
}

.run-history{
  width: 100%;
}

.run-history:hover {
  background-color: grey;
}

.summary {
  width: 100%;
}

.summary-header {
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  padding-bottom: 0.25em;
}

.summary-title {
  padding: 1em;
  width: 100%;
}

.summary-item {
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  padding-bottom: 0.25em;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
