<md-content layout="column" layout-align="start center">
  <!-- <div layout="row">
    <h2 id="welcome" class="lead">Welcome, {{showRun.user.userName}}!</h2>
  </div> -->
  <div layout="row">
  <md-select ng-model="showRun.user.currentDateRange" ng-change="showRun.user.populateSummery(showRun.user.runArray)" aria-label="run history">
    <label>Run History</label>
    <md-option ng-repeat="run in showRun.user.runArray | unique" value="{{run}}">{{run}}
    </md-option>
  </md-select>
</div>
<div layout="column" layout-align="start">
  <div layout="row">
  <md-card class="card run-history" ng-repeat="run in showRun.user.runArray" ng-if="run.date.dateRange === showRun.user.currentDateRange">
      <md-card-title-text>
      <div ng-click="showRun.saveRun(run);">
        <span class="md-subhead">{{run.date.date}}</span>
        <br>
        <span class="md-subhead">{{run.distance}} mi</span>
      </div>
  </md-card-title-text>
</md-card>
<!-- </md-list-item> -->
<!-- </md-list> -->
</div>
</div>
<div layout = "row">
  <div layout = "column">
  <md-card class="card summary">
  <span class="md-headline summary-header">Summary</span>
  <span class="md-subhead summary-title">Week: <span class="summary-item">{{showRun.user.summery.weekSum}} miles</span></span>
  <span class="md-subhead summary-title">{{showRun.user.currentMonth}} Total: <span class="summary-item">{{showRun.user.summery.monthSum}} miles</span></span>
  <span class="md-subhead summary-title">{{showRun.user.currentYear}} Total: <span class="summary-item">{{showRun.user.summery.yearSum}} miles</span></span>
</md-card>
</div>
</div>
    <md-button class="md-fab md-primary md-hue-1" aria-label="Add Run" ng-click="showRun.enterView()">
     <i class="material-icons" id="addButton">add</i>
   </md-button>

</md-content>
