<header>
  <md-toolbar layout="row" layout-align="center center" class="md-primary md-hue-1">
    <md-button class="md-icon-button large" href="#home">
      <i class="material-icons" id="addButton">navigate_before</i>
    </md-button>
    <h1>Log My Run</h1>
    <div class="fixed-action-btn horizontal click-to-toggle">
    <md-button class="md-icon-button large">
      <i class="material-icons" id="addButton">view_headline</i>
    </md-button>
    <ul>
      <li><a ng-click="showRun.logout()">Logout</a></li>
    </ul>
  </div>
  </md-toolbar>
</header>
